<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sysmgr.mapper.UsersMapper">

	<!-- select -->
	<select id="select" parameterType="String" resultType="usersVO">
		SELECT * FROM users WHERE uid=#{uid}
	</select>
	
	<!-- select all -->
	<select id="selectall" resultType="usersVO">
		SELECT * FROM users
	</select>
	
	<!-- register -->
	<insert id="insert" parameterType="usersVO">
		INSERT INTO users VALUES (#{uid}, #{upwd}, #{uname},SYSDATE(),NULL);
	</insert>

	<!-- update -->
	<update id="update" parameterType="usersVO">
		UPDATE users SET upwd=#{upwd}, uname=#{uname} WHERE uid = #{uid}
	</update>
	
	<!-- delete -->
	<delete id="delete" parameterType="String">
		DELETE FROM users WHERE uid=#{uid}
	</delete>
	
</mapper>